@font-face {
    font-family: Mango;
    src: url("Mango-Regular.woff") format("woff");
}

.h1-welcome {
    font-family: Mango;
}

@media (min-width: 901px) {
    .h1-welcome {
        font-size: 172px;

    }
}

@media (max-width: 900px) {
    .h1-welcome {
        font-size: 72px;
    }
}

.home-introtext-wrapper {
    background-color: white;
    display: inline-block;
    padding: 2rem;
    border-radius: 2rem;
}

.home-paragraph-1 {
    font-size: 32px;
    font-weight: bolder;
    color: black;
}

.home-paragraph-2 {
    font-size: 18px;
    font-weight: bold;
    color: #4f6d7a;
}
