.home-wrapper {
    text-align: center;
}

.home-paragraph-1 {
    font-size: 32px;
    font-weight: bolder;
    color: black;
}

.home-paragraph-2 {
    font-size: 14px;
    font-weight: bold;
    color: #adb5bd;
}
