.the-cluster-article {
    line-height: 140%;
}
.the-cluster-article h2 {
    text-align: center;
    margin-bottom: 3rem;
}
.the-cluster-article p {
}

.the-cluster-article-images {
    max-width: 300px;
}
.the-cluster-article-images-improved {
    max-width: 500px;
}
