@font-face {
    font-family: Mango;
    src: url("Mango-Regular.woff") format("woff");
}

.h1-welcome {
    font-family: Mango;
    width: 100%;
    text-align: center;
}

@media (min-width: 901px) {
    .h1-welcome-size--s {
        font-size: 80px;
    }
    .h1-welcome-size--m {
        font-size: 100px;
    }
    .h1-welcome-size--l {
        font-size: 120px;
    }
    .h1-welcome-size--xl {
        font-size: 172px;
    }
}

@media (max-width: 900px) {
    .h1-welcome-size--s {
        font-size: 30px;
    }
    .h1-welcome-size--m {
        font-size: 40px;
    }
    .h1-welcome-size--l {
        font-size: 50px;
    }
    .h1-welcome-size--xl {
        font-size: 72px;
    }
}
