.articles-wrapper {
    display: flex;
    justify-content: center;
    border: 3px dotted green;
}

.articles-body {
    padding: 3rem;
    text-align: left;
    max-width: 900px;
    background-color: white;
    border-radius: 3rem;

}
