

.example-body-wrapper {
    display: flex;
    justify-content: center;
    margin: 3rem;
}
.example-body {
    max-width: 900px;
    background-color: white;
    border-radius: 2rem;
}

.example-body p {
    margin: 2rem;
    text-align: left;
    line-height: 150%;

}


